<div id="user_list_page">
  <div class="container">
    <div class="user_list_header">
      <div class="col-lg-9">
      <div class="form-group ">
        <input class="form-control" type="text" placeholder="İsme Göre Arama Yapabilirsiniz..." (keyup)="searchByName($event)">
      </div>
      </div>
      <div class="col-lg-3 d-flex justify-content-end">
        <a type="button" (click)="addUser()" title="Kullanıcı Ekle">
         <i class="fa fa-plus"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="user_list_information">
    <div class="col-lg-4" *ngFor="let user of displayUsers">
       <app-user-card [user]="user"></app-user-card>
    </div>
  </div>

  <div class="user_list_pagination">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" (click)="previousPage()">Previous</a></li>
        <li class="page-item" *ngFor="let number of pageNumbers"><a class="page-link" (click)="changePage(number)">{{ number }}</a></li>
        <li class="page-item"><a class="page-link" (click)="nextPage()">Next</a></li>
      </ul>
    </nav>
  </div>


</div>

